        nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            list-style: none;
        }

        nav ul li {
            cursor: pointer;
            padding: 10px;
        }

        .nav_icon {
            font-size: 25px;
            font-weight: bold;
            display: none;
        }

        @media (min-width:0) and (max-width:575px) {
            .nav_icon {
                display: inline;
            }

            nav {
                display: none;
            }
        }