* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

:root{
    --rc_width:380px;
    --rc_height:450px;
    --rc_padding:10px;
    --rc_gap:25px;
    --rc_brr:15px;
    --ipn_p_gap:20px;
    --inp_width:150px;
    --inp_height:40px;
    --inp_brr:8px;
    --inp_padding:5px;
    --inp_font_size:18px;
    --lb_width:160px;
    --lb_height:150px;
    --lb_font_size:20px;
    --btn_width:150px;
    --btn_height:35px;
    --btn_brr:25px;
    --btn_padding:5px;
    --btn_font_size:20px;
}