        .registration_container {
            width: var(--rc_width);
            height: var(--rc_height);
            padding: var(--rc_padding);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: var(--rc_gap);
            box-shadow: 1px 1px 8px rgb(139, 134, 134);
            border-radius: var(--rc_brr);
        }

        .ipn_parent {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: var(--ipn_p_gap);
        }

        .registration_container>div>div {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        h2 {
            font-size: 25px;
        }


        input {
            height: var(--inp_height);
            width: var(--inp_width);
            border-radius: var(--inp_brr);
            font-size: var(--inp_font_size);
            padding: var(--inp_padding);
            border: none;
            box-shadow: 1px 1px 8px rgb(153, 169, 172);
        }

        label {
            width: var(--lb_width);
            font-size: var(--lb_font_size);
            font-weight: bolder;
        }

        button {
            width: var(--btn_width);
            height: var(--btn_height);
            border-radius: var(--btn_brr);
            padding: var(--btn_padding);
            font-size: var(--btn_font_size);
            font-weight: bold;
            border: none;
            box-shadow: 1px 1px 8px rgb(139, 134, 134);
            cursor: pointer;
        }